﻿@page
@using ShopInvoiceClass;
@model IndexModel
@{
    ViewData["Title"] = "Sklep";
}

<div class="text-center">
    <h1 class="display-4">Stan Magazynu</h1>
    <table style="width:100%;">
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>PTU</th>
            <th>ILOSC</th>
        </tr>
        @foreach (Product p in Model.prodList)
        {
            <tr>
                <td>
                    @p.Id
                </td>
                <td>
                    @p.Name
                </td>
                <td>
                    @p.Price
                </td>
                <td>
                    @p.PTU
                </td>
                <td>
                    @p.Quantity
                </td>
            </tr>
        }
    </table>
</div>
